input[type=submit],
button {
    height: 40px;
    width: 150px;
    background-color: #FFF;
    border: 2px solid $green;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: $green;
    font-family: $montserrat;
    font-size: 16px;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
    padding: 5px;
}

input[type=submit]{
    margin-top: 20px;
}

input[type=submit]:hover,
button:hover {
    background-color: $green;
    color: #FFF;
    transition: 0.4s;
}