#house {
    .sqft {
        float: left;
        margin-top: 10px;
    }

    input#sqft {
        width: 50%;
        float: left;
        border-bottom: 2px solid $gray;
    }

    .sqftMessage {
        p {
            text-align: center;
        }
    }
}