#location {
    #map {
        height: 500px;
        width: 500px;
        margin-top: 0;
        position: relative;
    }

    .medium-6 {
        margin-top: 50px;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        height: 800px;
        width: 800px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .show {
        margin-top: 40px;
    }

    .map {
        margin-top: -30px;
    }
}
